
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    background-color: #143644;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    color: #f2f2f2;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main svg {
    width: 150px;
    height: 150px;
}

.commands {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.commands ul,li,h3 {
    background-color: #000;
    width: 10rem;
    margin-top: -0.8rem;
}

.commands h2 {
    margin-bottom: 2rem;
}

.commands ul li {
    list-style-type: square;
}

.commands-1 ul {
    margin-left: 11rem;
}

.commands-2 ul {
    margin-left: 7rem;
}